{{ title }}<br />
<input #input type="text">
<button (click)="addTodo(input.value); input.value = ''">Add todo</button>
<ul>
  <li *ngFor="let todo of todos; index as index">
    <input type="checkbox" [checked]="todo.status === 'completed'" (change)="updateTodoStatus(index, todo)"
      id="vehicle1" name="vehicle1" value="Bike">
    <input type="text" (change)="updateTodoDescription(index, $event)" [value]="todo.description">
    <button (click)="removeItem(index)">Remove</button>
  </li>
</ul>